@charset "utf-8";
*{
	margin: 0;
}
.header-container{
	background-color: darkgray;
	height: 75px;
}
.logo{
	width: 25%;
	float: left;
	margin-top: 5px;
	margin-left: 1%;
	cursor: pointer;
}
.title{
	width: 50%;
	float: left;
	text-align: center;
	margin-top: 15px;
}
.nav{
	width: 23%;
	float: left;
	text-align: right;
	margin-top: 25px;
}
.nav a{
	color: black;
	text-decoration: none;
}
.nav2 a{
	padding-top: 13px;
	text-decoration: none;
	color: black;
	cursor: pointer;
	}
.nav2 a hover:{
	box-shadow: 1 1 3 black;
	cursor: pointer;
	}
@media screen and (max-width: 320px) and (min-width:0px){
	.header-container{
		height: 50px;
	}
	.logo{
		width: 60%
	}
	.title{
		width: 1%;
		visibility: hidden;
	}
	.nav{
		visibility: hidden;
	}
}
@media screen and (max-width:480px) and (min-width:320px){
	.nav{
		visibility: hidden;
	}
	.title{
		visibility: hidden;
		width: 0px;
	}
	.nav2{
		float: right;
		margin-right: 25px;
		margin-top: 25px;
		font-size: 15px;
	}
	.logo{
		width: 60%;
		margin-top: 6px;
	}
}
@media screen and (max-width:768px) and (min-width:480px){
}
@media screen and (max-width:1024px) and (min-width:768px){
}
@media screen and (max-width:1080)and(min-width:1024px){
}